
<a href="https://twitter.com/share" target="blank">
    <i class="fa fa-twitter-square"></i>
</a>

<a href="https://www.facebook.com/dialog/share?href=http%3A%2F%2Fbuergerbautstadt.de&redirect_uri=http%3A%2F%2Fbuergerbautstadt.de&app_id={{facebook_apikey}}&display=page" target="blank">
    <i class="fa fa-facebook-square"></i>
</a>

<a href="https://plus.google.com/share?url=http%3A%2F%2Fbuergerbautstadt.de&href=http%3A%2F%2Fbuergerbautstadt.de" target="blank">
    <i class="fa fa-google-plus-square"></i>
</a>

<a href="/feeds/">
    <i class="fa fa-rss-square"></i>
</a>
